section
    a(href="/")
        | Lightning

    ul
        li
            a(href="http://github.com/lightning-viz/lightning")
                | Github
        li
            a(href="/")
                | Website
        li
            a(href="/documentation")
                | Documentation
        li
            a(href="/visualizations")
                | Examples
        li
            a(href="https://github.com/lightning-viz/lightning-example-notebooks")
                | IPython Examples

section
    a(href="#{section === 'plots' ? '#plots' : '/visualizations#plots'}")
        | Plots

    ul
        li
            a(href="#{section === 'plots' ? '#scatter' : '/visualizations#scatter'}")
                | Scatter
        li
            a(href="#{section === 'plots' ? '#line' : '/visualizations#line'}")
                | Line
        li
            a(href="#{section === 'plots' ? '#line-stacked' : '/visualizations#line-stacked'}")
                | Line Stacked
        li
            a(href="#{section === 'plots' ? '#force' : '/visualizations#force'}")
                | Force
        li
            a(href="#{section === 'plots' ? '#graph' : '/visualizations#graph'}")
                | Graph
        li
            a(href="#{section === 'plots' ? '#graph-bundled' : '/visualizations#graph-bundled'}")
                | Graph Bundled
        li
            a(href="#{section === 'plots' ? '#matrix' : '/visualizations#matrix'}")
                | Matrix

        li
            a(href="#{section === 'plots' ? '#adjacency' : '/visualizations#adjacency'}")
                | Adjacency

        li
            a(href="#{section === 'plots' ? '#map' : '/visualizations#map'}")
                | Map                

section
    a(href="#{section === 'images' ? '#images' : '/visualizations/images#images'}")
        | Images

    ul
        li
            a(href="#{secction === 'images' ? '#image' : '/visualizations/images#image'}")
                | Image
        li
            a(href="#{secction === 'images' ? '#gallery' : '/visualizations/images#gallery'}")
                | Gallery


section
    a(href="#{section === '3d' ? '#3d' : '/visualizations/3d#3d'}")
        | 3D

    ul
        li
            a(href="#{section === '3d' ? '#scatter3' : '/visualizations/3d#scatter3'}")
                | Scatter3
        li
            a(href="#{section === '3d' ? '#volume' : '/visualizations/3d#volume'}")
                | Volume

section
    a(href="#{section === 'streaming' ? '#streaming' : '/visualizations/streaming#streaming'}")
        | Streaming

    ul
        li
            a(href="#{section === 'streaming' ? '#line' : '/visualizations/streaming#line'}")
                | Line
        li
            a(href="#{section === 'streaming' ? '#scatter' : '/visualizations/streaming#scatter'}")
                | Scatter


section
    a(href="#{section === 'linked' ? '#linked' : '/visualizations/linked#linked'}")
        | Linked

    ul
        li
            a(href="#{section === 'linked' ? '#scatter-line' : '/visualizations/linked#scatter-line'}")
                | Scatter-Line
